a.navbar-brand.img-responsive-logo {
  margin: -15px;
}

.script{
  font-family:
}

.carousel-caption2 {
  background-color: transparent;
  position: static;
  padding: 0 20px;
  margin-top: 15%;
  text-align: left;
}

p.lead2 {
  margin-top: 20px;
  font-size: 48px;
  color: #ff755a;
}

.centered {
  text-align: center;
}

.resume {
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
}
