{% load staticfiles %}

<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <title>Emily Harris | Portfolio</title>
  <meta name="keywords" content="made with bootstrap, wrap bootstrap themes, bootstrap agency themes, creative bootstrap sites, Lava theme, responsive bootstrap theme, mobile website themes, bootstrap portfolio, theme armada">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <meta property="og:title" content="Lava | Designed By Theme Armada">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://www.themearmada.com/demos/lava">
	<meta property="og:site_name" content="Theme Armada">
	<meta property="og:description" content="made with bootstrap, wrap bootstrap themes, bootstrap agency themes, creative bootstrap sites, Lava theme, responsive bootstrap theme, mobile website themes, bootstrap portfolio, theme armada">

  <!-- Styles -->
  <link rel="stylesheet" href="{% static 'main/onepage/css/flexslider.css' %}">
  <link rel="stylesheet" href="{% static 'main/onepage/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/onepage/css/animate.css' %}">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>


  <link rel="stylesheet" href="{% static 'main/onepage/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/onepage/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'main/onepage/css/custom-styles.css' %}">
  <link rel="stylesheet" href="{% static 'main/main.css' %}" media="screen" title="no title" charset="utf-8">
  <script src="{% static 'main/onepage/js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'main/onepage/img/favicon files.ico/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'main/onepage/img/favicon files.ico/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'main/onepage/img/favicon files.ico/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'main/onepage/img/favicon files.ico/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'main/onepage/img/favicon files.ico/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'main/onepage/img/favicon files.ico/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'main/onepage/img/favicon files.ico/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'main/onepage/img/favicon files.ico/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'main/onepage/img/favicon files.ico/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'main/onepage/img/favicon files.ico/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/onepage/img/favicon files.ico/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'main/onepage/img/favicon files.ico/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/onepage/img/favicon files.ico/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'main/onepage/img/favicon files.ico/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>

<body id="top" data-spy="scroll" data-target=".navbar" data-offset="200">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand img-responsive" href="{% url 'index_view' %}"><img src="{% static "main/initials3.png" %}" alt="EH"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="scroll" href="{% url 'index_view' %}#top">Home</a></li>
            <li><a class="scroll" href="{% url 'index_view' %}#portfolio">Portfolio</a></li>
            <li><a class="scroll" href="{% url 'index_view' %}#tools">Tools</a></li>
            <li><a class="scroll" href="{% url 'index_view' %}#resume">Resume</a></li>
            <li><a class="scroll" href="{% url 'index_view' %}#content1">Skills</a></li>
            <li><a class="scroll" href="{% url 'index_view' %}#bottom">Contact</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    {% block content %}

    {% endblock %}


    <section id="footer">
      <div class="container">


        <div class="row">
          <div class="col-sm-12 text-center">
            <p>Unless otherwise noted, content is copyright © 2016 Emily Harris</p>
            <p>@ Copyright. All Rights Reserved. Created by <a href="http://www.themearmada.com">Theme Armada.</a></p>
          </div>
        </div>
      </div>
    </section>

    <a href="#top" class="scrollToTop "><i class="fa fa-chevron-up"></i></a>

    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    {# <script>window.jQuery || document.write('<script src="{% static 'main/onepage/js/jquery-1.11.2.min.js' %}"><\/script>')</script>#}
    <script src="{% static 'main/onepage/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/onepage/js/jquery.flexslider-min.js' %}"></script>
    {# <script src="{% static 'main/onepage/js/main.js' %}"></script>#}

    <script>
      !function ($) {
        $(function(){
          $('#header').carousel()
        })
      }(window.jQuery)
    </script>

    <script>
        $(window).load(function() {
      $('.flexslider').flexslider({
        animation: "slide"
      });
    });
    </script>

    </body>
</html>
