{% extends "base.html" %}
{% load static %}
{% block content %}



    <!--Content-->
    <section id="content1" class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h3>emi.ly</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <p>emi.ly is a fully functioning web application that I built as a weekend homework project at The Iron Yard.  It is a simulated url shortener, similar to bit.ly.  Users can input their favorite bookmarks, shorten the URL, and count how many times their link has been clicked.</p>
            <p>The application was created using the Python programming language, as well as the Django web framework.  The shortened version of the URL was accomplished using hashids.  Front-end development includes HTML, CSS, and Bootstrap.  The application was successfully deployed to the web using Heroku.</p>
            <br><br>
            <div class="col-md-4">
              <a class="btn-main2" href="https://emily-url-shortener.herokuapp.com/" target="_blank">View Live</a>
            </div>
            <div class="col-md-4">
              <a class="btn-main2" href="https://github.com/emilycharris/url_shortener" target="_blank">View Code</a>
            </div>

          </div>
          <div class="col-md-6">
            <img src="{% static "main/onepage/img/emily_url_shortener.png" %}" class="img-responsive2" alt="Title"/>
          </div>
          <br>
          <br>
        </div>



        </div>




        <div class="row">
          <div class="col-sm-12 text-center">
            <h5><a class="more" href="{% url 'index_view' %}#portfolio"><i class="fa fa-chevron-circle-left"></i>&nbsp&nbsp Back To Portfolio</a></h5>
          </div>
        </div>

    </section>
{% endblock %}
