{% extends "base.html" %}
{% load static %}
{% block content %}



    <!--Content-->
    <section id="content1" class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h3>familytvonline</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <p>familytvonline is a fully functioning web application that I built for my final project at The Iron Yard.  It provides a means for families to watch TV together, all the while ensuring that the programming is both fairly selected and age-appropriate for all viewers.</p>
            <p>The application was created using the Python programming language, as well as the Django web framework.  Front-end development includes HTML, CSS, and Bootstrap.  The application was successfully deployed to the web using Render.</p>
            <br><br>
            <div class="col-md-4">
              <a class="btn-main2" href="https://familytv-online.onrender.com/" target="_blank">View Live</a>
            </div>
            <div class="col-md-4">
              <script src="//fast.wistia.com/embed/medias/ha4szb1w0e.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script><span class="wistia_embed wistia_async_ha4szb1w0e popover=true popoverContent=link" style="display:inline"><a class="btn-main2" href="#">View Demo</a></span>
              {# <a class="btn-main2" href="{% static "main/Final Project Presentation2.m4v" %}" target="_blank">View Demo</a>#}
            </div>
            <div class="col-md-4">
              <a class="btn-main2" href="https://github.com/emilycharris/final_project" target="_blank">View Code</a>
            </div>

          </div>
          <div class="col-md-6">
            <img src="{% static "main/onepage/img/familytv.png" %}" class="img-responsive2" alt="Title"/>
          </div>
          <br>
          <br>
        </div>



        </div>




        <div class="row">
          <div class="col-sm-12 text-center">
            <h5><a class="more" href="{% url 'index_view' %}#portfolio"><i class="fa fa-chevron-circle-left"></i>&nbsp&nbsp Back To Portfolio</a></h5>
          </div>
        </div>

    </section>
{% endblock %}
