{% extends "base.html" %}
{% load static %}
{% block content %}


    <!-- Carousel
    Change your images in the main.css file.
    ================================================== -->
    <div id="header" class="carousel slide animated fadeIn" data-ride="carousel">

      <!-- Indicators -->
      {# <ol class="carousel-indicators">#}
        {# <li data-target="#header" data-slide-to="0" class="active"></li>#}
        {# <li data-target="#header" data-slide-to="1"></li>#}
        {# <li data-target="#header" data-slide-to="2"></li>#}
      {# </ol>#}

      <div class="carousel-inner">
        <div class="item one active">
          <div class="container animated fadeInUp">
            <div class="carousel-caption">
              <img src="{% static "main/onepage/img/Untitled-8.png" %}" alt="Emily Harris" />
              {# <h1 class='script'>Emily Harris</h1>#}
              <p class="lead"><strong>Software Developer</strong></p>
            </div>

            <div class="row">
              <div class="col-sm-12 text-center margin-30">
                <a href="#message"><i class="fa fa-chevron-circle-down fa-2x gray"></i></a>
              </div>
            </div>

          </div>
        </div>
      </div>
      {# <a class="left carousel-control hidden-xs" href="#header" data-slide="prev"><i class="fa fa-angle-left"></i></a>#}
      {# <a class="right carousel-control hidden-xs" href="#header" data-slide="next"><i class="fa fa-angle-right"></i></a>#}






    </div><!-- /.carousel -->

    <!--Message Section-->
    <section id="message" class="section">
      <div class="container">
        <div class="row margin-40">
          <div class="col-sm-12 text-center">
            <h2>I'm a career changer who left a career in accounting to pursue programming as a passion.  I attended The Iron Yard's Backend Engineering program where I studied Python and Django.  Since attending The Iron Yard, I have worked in automations, as well as full-stack, and backend software development.  I specialize in Python & Django, but am open to learning new technologies.  I enjoy the problem-solving aspect of coding and the creative process of seeing something grow from idea to a fully-developed application.</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <a href="#portfolio"><i class="fa fa-chevron-circle-down fa-2x white"></i></a>
          </div>
        </div>
      </div>
    </section>

    <!--Portfolio-->
    <section id="portfolio" class="section">
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-12 margin-40">
            <h3>Portfolio</h3>
          </div>
        </div>

        <div class="row margin-40">

      		<!--Project Thumbnail One-->

          <div class="col-sm-4">
            <div class="thumbs">
              <img src="{% static 'main/onepage/img/emilyslist.png' %}" class="img-responsive3" alt="Emily's List Classifieds">
              <a href="{% url 'emilyslist_view' %}">
                <span class="title">
                  <span><i class="fa fa-link fa-2x"></i></span>
                </span>
              </a>
            </div>

            <div class="project-title margin-30">
              <h4>Online Classifieds Application</h4>
              <h5>Web App</h5>
            </div>


          </div>

      		<!--Project Thumbnail Two-->
      		<div class="col-sm-4">
      			<div class="thumbs">
        			<img src="{% static 'main/onepage/img/familytv.png' %}" class="img-responsive3" alt="Image Size 430x280" max-width='auto'>
        			<a href="{% url 'family_tv_view' %}">
        				<span class="title">
        					<span><i class="fa fa-link fa-2x"></i></span>
        				</span>
        			</a>
      			</div>

      			<div class="project-title margin-30">
      		    <h4>FamilyTV.online</h4>
              <h5>Web App</h5>
      		  </div>
      		</div>

      		<!--Project Thumbnail Three-->

          <div class="col-sm-4">
      			<div class="thumbs">
        			<img src="{% static 'main/onepage/img/emily_url_shortener.png' %}" class="img-responsive3" alt="Image Size 430x280">
        			<a href="{% url 'url_shortener_view' %}">
        				<span class="title">
        					<span><i class="fa fa-link fa-2x"></i></span>
        				</span>
        			</a>
      			</div>

      			<div class="project-title margin-30">
      		    <h4>URL Shortener Application</h4>
              <h5>Web App</h5>
      		  </div>
      		</div>
      	</div><!--End Row of Work-->

        <div class="row">
          <div class="col-sm-12 text-center">
            <a href="#message2"><i class="fa fa-chevron-circle-down fa-2x"></i></a>
          </div>
        </div>


      </div>
    </section>




    <!--Message2 Section-->
    <section id="message2" class="section">
      <div class="container">
        <div class="row margin-40">
          <div class="col-sm-12 text-center">
            <h2>Below is a list of some of the tools I've used.</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <a href="#tools"><i class="fa fa-chevron-circle-down fa-2x white"></i></a>
          </div>
        </div>
      </div>
    </section>



    <!--Tools-->

    <section id="tools" class="section">
      <div class="container">
        {# <h3 class='centered'>Some of the Tools I've Used</h3>#}
        {# <br>#}
        {# <hr>#}
        {# <br>#}
        <div class="row text-center">

          <!--Section 1-->
          <div class="col-sm-4 tools margin-30">
            <img class='tools' src="{% static "main/onepage/img/python-logo copy.png" %}" alt="" height=130px />
              {# <i class="fa fa-mobile-phone fa-4x light-gray"></i>#}
              {# <h3>Python</h3>#}
              {# <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>#}
          </div>

          <!--Section 2-->
          <div class="col-sm-4 tools margin-30">
            <img class='tools' src="{% static "main/onepage/img/django-logo.png" %}" alt="" height=130px/>
              {# <i class="fa fa-thumbs-up fa-4x light-gray"></i>#}
              {# <h3>Django</h3>#}
              {# <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>#}
          </div>

          <!--Section 3-->
          <div class="col-sm-4 tools margin-30">
            <img class='tools' src="{% static "main/onepage/img/react-logo.png" %}" alt="" height=130px />
              {# <i class="fa fa-flag fa-4x light-gray"></i>#}
              {# <h3>React</h3>#}
              {# <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>#}
          </div>
        </div>
        <br><br>
          <div class="row text-center">

          <!--Section 4-->
          <div class="col-sm-4 tools margin-30">
            <img class='tools' src="{% static "main/onepage/img/nodejs-logo.png" %}" alt="" height=130px/>
              {# <i class="fa fa-flag fa-4x light-gray"></i>#}
              {# <h3>NodeJS</h3>#}
              {# <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>#}
          </div>

          <!--Section 5-->
          <div class="col-sm-4 tools margin-30">
            <img class='tools' src="{% static "main/onepage/img/Go-Logo_Black.jpg" %}" alt="" height=130px/>
              {# <i class="fa fa-flag fa-4x light-gray"></i>#}
              {# <h3>Golang</h3>#}
              {# <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>#}
          </div>

          <!--Section 6-->
          <div class="col-sm-4 tools margin-30">
            <img class='tools' src="{% static "main/onepage/img/github-logo copy.png" %}" alt="" height=130px />
              {# <i class="fa fa-flag fa-4x light-gray"></i>#}
              {# <h3>Github & Version Control</h3>#}
              {# <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>#}
          </div>
        </div>
        <br>
        <br>

        <div class="row text-center">
        <!--Section 7-->
        <div class="col-sm-4 tools margin-30">
          <img class='tools' src="{% static "main/onepage/img/heroku-logo.png" %}" alt="" height=130px/>
            {# <i class="fa fa-flag fa-4x light-gray"></i>#}
            {# <h3>Heroku</h3>#}
            {# <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>#}
        </div>


        <!--Section 8-->
        <div class="col-sm-4 tools margin-30">
          <img class='tools' src="{% static "main/onepage/img/jenkins-logo.png" %}" alt="" height=130px/>
            {# <i class="fa fa-flag fa-4x light-gray"></i>#}
            {# <h3>Jenkins</h3>#}
            {# <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>#}
        </div>

        <!--Section 9-->
        <div class="col-sm-4 tools margin-30">
          <img class='tools' src="{% static "main/onepage/img/rest framework logo.png" %}" alt="" height=130px/>
            {# <i class="fa fa-flag fa-4x light-gray"></i>#}
            {# <h3>Rest Framework</h3>#}
            {# <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>#}
        </div>
      </div>
      <hr>



      </div>
      <div class="col-sm-12 text-center">
        <a href="#resume"><i class="fa fa-chevron-circle-down fa-2x gray"></i></a>
      </div>
    </div>
    </section>


    <!--Resume Section-->
    <section id="resume" class="section">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 margin-30">
          </div>

          <div class="col-sm-9">
            <h2>To learn a little more about my education and experience, you can view or download my resume.</h2>
            <br>
            <br>
            <a class="btn-main3" href="{% static "main/resume 2021.pdf" %}" target="_blank">View</a>
            <a class="btn-main3" href="{% static "main/resume 2021.pdf" %}" download>Download</a>
          </div>
        </div>
        <div class="col-sm-12 text-center">
          <a href="#content1"><i class="fa fa-chevron-circle-down fa-2x gray"></i></a>
        </div>
      </div>
    </section>

    <!--Bottom Section-->
    <section id="bottom">
      <div class="container">

     <div class="row">

       <div class="col-sm-4 margin-10">
           <div class="flexslider">
               <div class="col-sm-12 margin-30">
                 <div class="team-container">
                   <div class="row">
                     <div class="col-xs-12 team-member">
                       <img src="{% static "main/onepage/img/headshot 2021.jpg" %}" class="img-responsive" alt="Emily Harris">
                     </div>
                   </div>

                   <div class="row text-center">
                     <div class="col-xs-12 team-info">
                       <h4><span class="white"> Emily Harris | <small><em>Software Developer</em></small></span></h4>
                     </div>


                   </div>
                 </div>
               </div>

           </div><!--End Flex Slider-->
       </div>
       <div class="col-sm-8 margin-10">
         <div class="col-sm-12">
           {# <h3>About</h3>#}
         <p>I graduated from college with a degree in Communications and made the unusual choice to become an accountant for the entirety of my career so far.  When I discovered coding, I knew it was the perfect blend of the communication skills I learned in school and the more analytical, problem solving abilities I gained as an accountant.  I am grateful to have found a career that blends my skills so uniquely.</p>
         <p>If you're interested in having a conversation about development, I'd love to hear from you!</p>
         <p>Please contact me using the links below.</p>
         <hr>
       </div>
         <div class="row">
           <div class="col-sm-10 col-sm-offset-1 text-center">
             <!--Social Icons-->
             <ul class="social-icons">
               <li><a href="mailto:emily.harris.mail@gmail.com"><i class="fa fa-envelope fa-3x"></i></a></li>
               <li><a class="twitter" href="https://twitter.com/emilycharris" target="_blank"><i class="fa fa-twitter fa-3x"></i></a></li>
               <li><a class="linkedin" href="http://www.linkedin.com/in/emily-harris" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a></li>
               <li><a class="Github" href="https://github.com/emilycharris" target="_blank"><i class="fa fa-github fa-3x"></i></a></li>
             </ul>
           </div>
         </div>
         </div>
       </div>
        </div>

      </div>
    </section>

  {% endblock %}
